html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #2B303A;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #358ccb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
